<script setup>
import { computed, onBeforeMount, ref, watch } from 'vue';
import { Inertia } from '@inertiajs/inertia';
import { Head, Link, usePage } from '@inertiajs/inertia-vue3';
import JetApplicationMark from '@/Jetstream/ApplicationMark.vue';
import JetBanner from '@/Jetstream/Banner.vue';
import JetDropdown from '@/Jetstream/Dropdown.vue';
import JetDropdownLink from '@/Jetstream/DropdownLink.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue';
import FlashMessage from '@/components/FlashMessage.vue';

defineProps({
    title: String,
});

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))


const showingNavigationDropdown = ref(false);

const switchToTeam = (team) => {
    Inertia.put(route('current-team.update'), {
        team_id: team.id,
    }, {
        preserveState: false,
    });
};

const hasMessage = computed(() => usePage().props.value.flash.message != null )
const flashMessage = computed(() => usePage().props.value.flash.message)
let showFlash = ref(true)
const closeT = () => {
    showFlash.value = !showFlash.value    
};

const logout = () => {
    Inertia.post(route('logout'));
};

watch(flashMessage,(newMessage,oldMessage)=>{
    // console.log(newMessage,oldMessage)
    showFlash.value = true
})

</script>



<template>
    <div class="container-fluid">
        <div class="row">
            <Head :title="title" />

            <!-- <JetBanner /> -->

            <!-- Sidebar col -->
            <div class="col-1">
                <div class="row justify-content-center min-vh-100 bg-light sticky-top">
                    
                    <!-- Primary Navigation Menu -->
                
                    <div class="col align-self-start">
                        <div class="row justify-content-evenly">
                            <Link class="d-flex justify-content-center" :href="route('dashboard')" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-custom-class="custom-tooltip"
                                title="Home">
                                <i class="bi bi-house fs-1"></i>
                            </Link>
                        </div>
                    </div>

                    <div class="col  align-self-end">
                        <div class="row justify-content-evenly">
                            <div class="btn-group justify-content-center dropend">
                                <button class="btn btn-light btn-no-outline 
                                                d-flex align-items-center 
                                                justify-content-center text-decoration-none dropdown-toggle"
                                                type="button" id="dropdownMenuButton"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                    <i class="bi-person-circle fs-2"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <JetResponsiveNavLink class="dropdown-item" :href="route('dashboard')" :active="route().current('dashboard')" >
                                            Home
                                        </JetResponsiveNavLink>
                                    </li>
                                    <li>
                                        <JetResponsiveNavLink class="dropdown-item" :href="route('profile.show')" :active="route().current('profile.show')">
                                            Perfil
                                        </JetResponsiveNavLink>
                                    </li>
                                    <li>
                                        <!-- Authentication -->
                                        <div class="dropdown-item">
                                            <form method="POST" @submit.prevent="logout"> 
                                                <JetResponsiveNavLink class="" as="button">
                                                    Sair
                                                </JetResponsiveNavLink>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- content col -->
            <div class="col-11">
                <div class="row justify-content-evenly">
                    <div class="col-12 border-bottom border-dark">
                        
                        <!-- Page Heading -->
                        <header v-if="$slots.header" class="ms-3 ">
                            <div class="d-flex justify-content-start">
                                <slot name="header" />
                            </div>
                        </header>
                    </div>
                    <div class="col-12">
                        <!-- Page Content -->
                        <!-- showFlash - {{ showFlash }} - hasMessage {{ hasMessage }}  -->
                        <Transition>
                            <FlashMessage v-if="showFlash && hasMessage"
                                        :message="$page.props.flash.message" 
                                        @close="closeT" 
                                        />
                        </Transition>
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<style scoped>

    .btn-no-outline:focus {    
        outline: none;
        box-shadow: none;
    }
    .custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
    }
</style>
