    
<template>
    <div class="container-fluid">
        <div class="row min-vh-100 justify-content-evenly">
            <Head :title="title" />

            <!-- Menu -->
            <div class="row">
                <div class="row justify-content-center">
                    
                    <div class="col-auto mt-3">
                        <div v-if="props.canLogin" class="btn-group">
                            <Link v-if="$page.props.user" :href="route('dashboard')" class="btn btn-outline-primary">
                                Dashboard
                            </Link>

                            <template v-else>
                                <Link :href="route('login')" class="btn btn-outline-primary">
                                    Entrar
                                </Link>
                                <div class="vr"></div>
                                <Link v-if="props.canRegister" :href="route('register')" class="btn btn-outline-primary">
                                    Registrar
                                </Link>
                            </template>
                        </div>
                        <div v-if="props.inLogIn" class="btn-group">
                            <Link :href="route('home')" class="btn btn-outline-primary">
                                Voltar
                            </Link>
                            <div class="vr"></div>
                            <Link :href="route('register')" class="btn btn-outline-primary">
                                Registrar
                            </Link>                            
                        </div>
                        <div v-if="props.inLogIn === false" class="btn-group">
                            <Link :href="route('home')" class="btn btn-outline-primary">
                                Voltar
                            </Link>
                            <div class="vr"></div>
                            <Link :href="route('login')" class="btn btn-outline-primary">
                                Entrar
                            </Link>                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div class="row">
                <main>
                    <slot />
                </main>
            </div>

            <!-- Footer -->
            <div class="row">
                <div class="row justify-content-center align-items-end">
                    <div class="col-auto align-self-end">
                        <div class="mb-3">
                            <p class="d-flex align-items-center">Code Challenge - Nucleus.eti <span class="ms-1 material-symbols-outlined">copyright</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { usePage } from "@inertiajs/inertia-vue3";
import { computed } from "@vue/runtime-core"

    defineProps({
        title: String,
    })

    const props = computed(() => usePage().props.value)
    
</script>

<style>

</style>