<template>
    <AppLayout title="Nova Fatura">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Nova Fatura
            </h2>
        </template>

        <div class="">
            <div class="">
                <div class="">
                    <FormBill forCreate />
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import FormBill from '@/components/FormBill.vue';


</script>

<style>

</style>
