<template>
  <AppLayout title="Editar Fatura">
        <template #header>
            <h2 class="">
                Editar Fatura
            </h2>
        </template>

        <div class="">
            <div class="">
                <div class="">
                    <FormBill :bill="$page.props.bill"></FormBill>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import FormBill from '@/components/FormBill.vue';

</script>

<style>

</style>