<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
import JetButton from '@/Jetstream/Button.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';

defineProps({
    status: String,
});

const form = useForm({
    email: '',
});

const submit = () => {
    form.post(route('password.email'));
};
</script>

<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-5 align-items-center border">
                <Head title="Forgot Password" />

                <JetAuthenticationCard>
                    <template #logo>
                        <JetAuthenticationCardLogo />
                    </template>

                    <div class="row mb-3 justify-content-center">
                        <div class="col">
                            Esqueceu sua senha? Sem problemas. Basta nos informar seu endereço de e-mail e nós lhe enviaremos um link de redefinição de senha que permitirá que você escolha uma nova.
                        </div>
                    </div>

                    <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                        {{ status }}
                    </div>

                    <JetValidationErrors class="mb-4" />

                    <form @submit.prevent="submit">
                        <div class="row mb-3 justify-content-evenly">
                            <JetLabel for="email" value="E-mail" />
                            <JetInput
                                id="email"
                                v-model="form.email"
                                type="email"
                                class="mt-1 block w-full"
                                required
                                autofocus
                            />
                        </div>

                        <div class="row mb-3">
                            <div class="col d-flex justify-content-center">
                                <JetButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Link de redefinição de senha de e-mail
                                </JetButton>
                            </div>
                        </div>
                    </form>
                </JetAuthenticationCard>
            </div>
        </div>
    </div>            
</template>
