<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
import JetButton from '@/Jetstream/Button.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetCheckbox from '@/Jetstream/Checkbox.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
import HomeLayout from '@/Layouts/HomeLayout.vue'


defineProps({
    inLogIn: Boolean,
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.transform(data => ({
        ...data,
        remember: form.remember ? 'on' : '',
    })).post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};


</script>

<template>
    <HomeLayout title="Log in">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-5 align-items-center border">

                    <JetAuthenticationCard>
                        <template #logo>                        
                            <JetAuthenticationCardLogo />
                        </template>

                        <JetValidationErrors class="mb-4" />

                        <div v-if="status" class="mb-4">
                            {{ status }}
                        </div>
                        
                        <form @submit.prevent="submit">
                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="email" value="E-mail" />
                                <JetInput
                                    id="email"
                                    v-model="form.email"
                                    type="email"
                                    class=""
                                    required
                                    autofocus
                                />
                            </div>

                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="password" value="Senha" />
                                <JetInput
                                    id="password"
                                    v-model="form.password"
                                    type="password"
                                    class=""
                                    required
                                    autocomplete="current-password"
                                />
                            </div>

                            <div class="row mb-3 justify-content-end">
                                <div class="col d-flex justify-content-center">
                                    <div class="form-check">
                                        <JetCheckbox v-model:checked="form.remember" name="remember" />
                                        <label class="form-check-label">Lembrar-me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3 justify-content-between">
                                <div class="col">
                                    <Link v-if="canResetPassword" :href="route('password.request')">
                                        Esqueceu sua senha?
                                    </Link>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <JetButton class="ms-2" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                        Entrar
                                    </JetButton>
                                </div>
                            </div>
                        </form>
                                
                    </JetAuthenticationCard>
                </div>
            </div>
        </div>
    </HomeLayout>
</template>
