<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
import JetButton from '@/Jetstream/Button.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetCheckbox from '@/Jetstream/Checkbox.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
import HomeLayout from '@/Layouts/HomeLayout.vue'

defineProps({
    inLogIn: Boolean
})

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <HomeLayout title="Log in">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-5 align-items-center border">
                    <Head title="Registrar" />

                    <JetAuthenticationCard>
                        <template #logo>
                            <JetAuthenticationCardLogo />
                        </template>

                        <JetValidationErrors class="mb-4" />

                        <form @submit.prevent="submit">
                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="name" value="Nome" />
                                <JetInput
                                    id="name"
                                    v-model="form.name"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                    autofocus
                                    autocomplete="name"
                                />
                            </div>

                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="email" value="E-mail" />
                                <JetInput
                                    id="email"
                                    v-model="form.email"
                                    type="email"
                                    class="mt-1 block w-full"
                                    required
                                />
                            </div>

                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="password" value="Senha" />
                                <JetInput
                                    id="password"
                                    v-model="form.password"
                                    type="password"
                                    class="mt-1 block w-full"
                                    required
                                    autocomplete="new-password"
                                />
                            </div>

                            <div class="row mb-3 justify-content-evenly">
                                <JetLabel class="col-auto form-label" for="password_confirmation" value="Confirmar senha" />
                                <JetInput
                                    id="password_confirmation"
                                    v-model="form.password_confirmation"
                                    type="password"
                                    class="mt-1 block w-full"
                                    required
                                    autocomplete="new-password"
                                />
                            </div>

                            <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4">
                                <JetLabel for="terms">
                                    <div class="flex items-center">
                                        <JetCheckbox id="terms" v-model:checked="form.terms" name="terms" />

                                        <div class="ml-2">
                                            I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
                                        </div>
                                    </div>
                                </JetLabel>
                            </div>

                            <div class="row mb-3 justify-content-between">
                                <div class="col">
                                    <Link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900">
                                        Já registrado?
                                    </Link>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <JetButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                        Registrar
                                    </JetButton>
                                </div>
                            </div>
                        </form>
                    </JetAuthenticationCard>
                </div>
            </div>
        </div>  
    </HomeLayout>              
</template>
