<script setup>
import JetSectionTitle from './SectionTitle.vue';
</script>

<template>
    <div class="container">
        <div class="row">
            <JetSectionTitle>
                <template #title>
                    <slot name="title" />
                </template>
                <template #description>
                    <slot name="description" />
                </template>
            </JetSectionTitle>
        </div>
        <div class="row justify-content-center border rounded">
            <div class="row mt-3">
                <div class="">
                    <slot name="content" />
                </div>
            </div>
        </div>
    </div>
</template>
