<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <slot name="logo" />
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col">
                <slot />
            </div>
        </div>
    </div>
</template>
