<script setup>
import { computed, useSlots } from 'vue';
import JetSectionTitle from './SectionTitle.vue';

defineEmits(['submitted']);

const hasActions = computed(() => !! useSlots().actions);
</script>

<template>
    <div class="container">
        <div class="row">
            <JetSectionTitle>
                <template #title>
                    <slot name="title" />
                </template>
                <template #description>
                    <slot name="description" />
                </template>
            </JetSectionTitle>
        </div>

        <div class="row border rounded">
            <form @submit.prevent="$emit('submitted')">
                <div
                    class=""
                    :class="hasActions ? 'sm:rounded-tl-md sm:rounded-tr-md' : 'sm:rounded-md'"
                >
                    <div class="mb-3">
                        <slot name="form" />
                    </div>
                </div>

                <div v-if="hasActions" class="mb-3">
                    <slot name="actions" />
                </div>
            </form>
        </div>
    </div>
</template>
