<template>
    <div class="mt-3 mb-3">
        <a class="text-decoration-none disabled"
            :class="(props.bill.checked? 'card-disabled': '')"
            data-bs-toggle="collapse"
            :href="'#collapse' + props.index" 
            role="button" aria-expanded="false"
            :aria-controls="'collapse'+ props.index"
            >
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header text-dark">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="align-self-center"> -->
                            <p class="m-0 p-0">{{ props.bill.name }}</p>
                            <div v-if="props.bill.checked"><i class="bi bi-clipboard-check"></i></div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title">{{ billType }}</h5>
                    <p class="card-text">Vencimento: <br/>{{ moment(props.bill.due_date,'YYYY/MM/DD', 'pt-br', false).format('ll') }}</p>
                    <p class="card-text">Valor: <br/>R$ {{ props.bill.bill_value  }}</p>
                </div>
            </div>
        </a>
        <div class="collapse" :id="'collapse' + props.index">
            <div class="card card-body border-warning">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button class="btn btn-outline-danger" @click="emit('delete',props.bill.id)"><i class="bi bi-trash3"></i></button>
                    <Link class="btn btn-outline-info" :href="route('editBill', props.bill.id)"><i class="bi bi-pencil-square"></i></Link>
                    <button class="btn btn-outline-success" @click="emit('check',props.bill)"><i class="bi bi-check2-square"></i></button>
                </div>
            </div>
        </div>
    </div>                    
</template>

<script setup>
import { computed } from "@vue/runtime-core"
import moment from 'moment';

    const props = defineProps({
        bill: Object,
        index: Number
    })

    const emit = defineEmits(['delete','check'])

    const billType = computed(() => {
            if(props.bill.checked){
                if(props.bill.type === 'pay'){
                    return 'Pago'
                }else{
                    return 'Recebido'
                }
            }else{
                if(props.bill.type === 'pay'){
                    return 'Pagar'
                }else{
                    return 'Receber'
                }
            }
            
        })

    

</script>

<style scoped>
    .card-disabled {
        background-color: rgba(245, 245, 245, 1);
        opacity: .4;
    }
</style>