<template>
    <div class="container-fluid">
        <div class="row p-3 bg-success border rounded">
            <div class="col row align-items-center text-white">
                {{ message }}
            </div>
            <div class="col">
                <div class="row justify-content-end me-3">
                    <div class="col-auto row">
                        <button class="btn btn-success btn-no-outline p-0" 
                        @click="$emit('close', $event)"
                        >
                            <i class="bi bi-x-square-fill fs-3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
    defineProps({
        message: String
    })
</script>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.btn-no-outline:hover,
.btn-no-outline:focus {    
    outline: none;
    box-shadow: none;
}
</style>