<template>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-1">
                <Link class="btn btn-outline-primary" :href="route('dashboard')"><i class="bi bi-arrow-left-circle-fill fs-3"></i></Link>
            </div>
            <div class="col-md-5 mt-5 border rounded">
                <form @submit.prevent="submit">
                    <div class="mb-3">
                        <div class="mb-3 mt-3">
                            <select class="form-select" aria-label="Default select example" v-model="form.type">
                                <option disabled value="">Selecione o tipo</option>
                                <option value="pay">A pagar</option>
                                <option value="receive">A receber</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name">Name/Razão Social:</label>
                            <input class="form-control" id="name" v-model="form.name" required />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="cpf" value="0" v-model="form.register" />
                            <label class="form-check-label" for="cpf">CPF</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="cnpj" value="1" v-model="form.register" />
                            <label class="form-check-label" for="cnpj">CNPJ</label>
                        </div>    
                        <div class="mb-3" v-if="form.register == 0">
                            <label class="form-label" for="cpf">CPF: </label>
                            <input class="form-control" type="text" v-model="form.cpf"
                                    v-mask="'###.###.###-##'" 
                                    placeholder="ie: 000.000.000-00"
                                    pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
                                    title="type your cpf like nnn.nnn.nnn-nn"
                                    required/>
                        </div>
                        <div class="mb-3" v-else>
                            <label class="form-label" for="cpf">CNPJ: </label>
                            <input class="form-control" type="text" v-model="form.cnpj"
                                    v-mask="'##.###.###/####-##'"
                                    placeholder="ie: 00.000.000/0000-00"
                                    pattern="(\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2})"
                                    title="type your cpf like nn.nnn.nnn/nnnn-nn"
                                    required/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="date">Vencimento: </label>
                            <input class="form-control" type="date" id="date" v-model="form.date" required/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="value-bill">Valor: </label>
                            <input class="form-control" type="text" id="value-bill" 
                                    v-model="form.value"
                                    placeholder="00.00" 
                                    required/>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="form.checked">
                            <label class="form-check-label" for="flexCheckDefault">
                                A fatura foi finalizada?
                            </label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" v-text="props.forCreate? 'Criar' : 'Atualizar'"></button>
                        </div>
                    </div>
                </form>
                
                <div v-if="hasErrors">
                    <ul>
                        <li class="list-unstyled text-danger" v-for="(error, key) in errors" :key="key">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { Inertia } from "@inertiajs/inertia";
import { useForm, usePage } from "@inertiajs/inertia-vue3"
import { computed, onMounted } from "@vue/runtime-core";
import { mask as vMask } from "vue-the-mask"
import {VMoney} from 'vue-money-mask/dist/v-money'


    const props = defineProps ({
        bill: Object,
        forCreate: Boolean
    })

    onMounted(() => {
        if(props.bill != null){
            const formKeys = Object.keys(form.data())
            const billvalues = Object.values(props.bill)

            Object.keys(form.data()).forEach((key,i) => {
                form[key] = billvalues[i+1];
                console.log(Object.entries(props.bill)[i])
            });

        }
    }) 

    // For future
    // const money = {
    //     decimal: ',',
    //       thousands: '.',
    //       prefix: 'R$ ',
    //       suffix: '',
    //       precision: 2,
    //       mask: false
    // }

    const form = useForm({
        type: '',
        name: '',
        register: '',
        cpf: null,
        cnpj: null,
        date: null,
        value: '',
        checked: false
    })

    const submit = () => {

        // form.value = Number(form.value.split(' ')[1]) 

        console.log(form)
        if (props.forCreate) {

            Inertia.post("/bills", form, {
                onSuccess: () => form.reset()
            });

        }else{

            Inertia.put(`/bills/update/${props.bill.id}`, form, {
                onSuccess: () => form.reset()
            })

        }
        
        
    };

    const errors = computed(() => usePage().props.value.errors);
    const hasErrors = computed(() => Object.keys(errors.value).length > 0);
</script>

<style>

</style>