<template>
    <div class="row justify-content-evenly">
        <div class="col">
            <!-- btn create -->
            <div class="row justify-content-center">
                <div class="col justify-content-center">
                    <Link class="btn btn-primary mt-5 mb-5" :href="route('createBill')">Criar uma fatura</Link>
                </div>
            </div>   
        </div>
        <div class="w-100"></div>
        <div class="col">
            <!-- bill list -->
            <div class="row">
                <div class="col">
                    <ul class="row list-unstyled " >
                        <li class="col-2" v-for="(bill, index) in $page.props.bills" :key="bill.id" >
                            <CardBill :bill="bill" :index="index" @delete="deleteBill" @check="checkBill"></CardBill>      
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</template>

<script setup>
import { useForm, usePage } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import CardBill from '@/components/CardBill.vue'
        
    const deleteBill = (id) => {
        Inertia.delete(`/bills/${id}`, {
            onSuccess: () => console.log("delete com sucesso!")
        });
    }

    const checkBill = (fBill) => {
        const form = {
            checked: !fBill.checked
        }

        Inertia.put(`/bills/check/${fBill.id}`, form, {
            onSuccess: () => {
                console.log("check com sucesso!" + usePage().component)
            }
        });
    }    
    

</script>

<style scoped>
    .button-style-none{
        padding: 0;
        border: 0;
        background: none;
    }
</style>