<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import HomeBill from '@/components/HomeBill.vue';
</script>

<template>
    <AppLayout title="Home">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Faturas
            </h2>
        </template>

        
        <HomeBill />
        
    </AppLayout>
</template>

<style scoped>
    body{
        margin: 0;
        padding: 0;
    }
</style>
