<script setup>
import HomeLayout from '@/Layouts/HomeLayout.vue'
import { Head, Link } from '@inertiajs/inertia-vue3';

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
    inLogIn: Boolean
});
</script>

<template>
    <HomeLayout title="Bem Vindo">
        <div class="container">
            <div class="row justify-content-center">
                <div class="row justify-content-center align-items-around">
                    <div class="col-12 align-self-center">
                        <h2 class="mt-5 display-5 text-center">Gerencie todas as suas contas em um só lugar!</h2>
                        <p class="fs-3 text-center fw-light text-uppercase text-black-50">água - luz - celular</p>
                    </div>
                    <div class="col-auto">
                        <div v-if="canLogin">
                            <Link v-if="$page.props.user" :href="route('dashboard')" class="btn btn-primary btn-lg">
                                Comece Agora!
                            </Link>
                            <template v-else>
                                <Link v-if="canRegister" :href="route('register')" class="btn btn-primary btn-lg">
                                    Registre-se Gratuitamente!
                                </Link>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </HomeLayout>    
</template>

<style scoped>

    .thumb{
        width: 4rem;
        height: 4rem;
    }
</style>
