<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import DeleteUserForm from '@/Pages/Profile/Partials/DeleteUserForm.vue';
import JetSectionBorder from '@/Jetstream/SectionBorder.vue';
import LogoutOtherBrowserSessionsForm from '@/Pages/Profile/Partials/LogoutOtherBrowserSessionsForm.vue';
import TwoFactorAuthenticationForm from '@/Pages/Profile/Partials/TwoFactorAuthenticationForm.vue';
import UpdatePasswordForm from '@/Pages/Profile/Partials/UpdatePasswordForm.vue';
import UpdateProfileInformationForm from '@/Pages/Profile/Partials/UpdateProfileInformationForm.vue';

defineProps({
    confirmsTwoFactorAuthentication: Boolean,
    sessions: Array,
});
</script>

<template>
    <AppLayout title="Perfil">
        <template #header>
            <h2 class="">
                Perfil
            </h2>
        </template>

        <div class="container ">
            <div class="row m-0 justify-content-center gap-5">
                <div class="row mt-5 ms-0 me-0">
                    <div class="col">
                        <div v-if="$page.props.jetstream.canUpdateProfileInformation">
                            <UpdateProfileInformationForm class="" :user="$page.props.user" />
                        </div>
                    </div>
                </div>
                
                <div class="row ms-0 me-0">
                    <div class="col">
                        <div v-if="$page.props.jetstream.canUpdatePassword">
                            <UpdatePasswordForm class="" />
                        </div>
                    </div>
                </div>

                <div class="row ms-0 me-0">
                    <div class="col">
                        <div v-if="$page.props.jetstream.canManageTwoFactorAuthentication">
                            <TwoFactorAuthenticationForm 
                                :requires-confirmation="confirmsTwoFactorAuthentication"
                                class="" 
                            />
                        </div>
                    </div>
                </div>

                <div class="row ms-0 me-0">
                    <div class="col">
                        <LogoutOtherBrowserSessionsForm :sessions="sessions" class="" />
                    </div>
                </div>

                <div class="row mb-3 ms-0 me-0">
                    <div class="col">
                        <template v-if="$page.props.jetstream.hasAccountDeletionFeatures">
                            <DeleteUserForm class="" />
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
